# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
attachments
bin
cache
cli
images
includes
layouts
libraries
logs
media
templates
tmp
/LICENSE.txt
/README.txt
/robots.txt
/web.config.txt
/configuration.php
/htaccess.txt
/index.php
/administrator/cache
/administrator/help
/administrator/includes
/administrator/manifests
/administrator/modules
/administrator/templates
/administrator/index.php
com_admin
com_ajax
com_akeeba
com_contenthistory
com_cpanel
com_finder
com_installer
com_joomlaupdate
com_banners
com_cache
com_categories
com_checkin
com_config
com_contact
com_content
com_templates
com_users
com_weblinks
com_languages
com_login
com_media
com_menus
com_messages
com_modules
com_newsfeeds
com_plugins
com_postinstall
com_redirect
com_search
com_tags
/administrator/components/index.html
index.html
overrides
overrides
index.html
en-GB
language
com_banners
com_config
com_contact
com_content
com_contenthistory
com_finder
com_mailto
com_media
com_ajax
com_akeeba
com_users
com_weblinks
com_wrapper
index.html
com_newsfeeds
com_search
com_tags
mod_login
mod_articles_archive
mod_articles_categories
mod_articles_category
mod_articles_latest
mod_articles_news
mod_articles_popular
mod_banners
mod_breadcrumbs
mod_custom
mod_feed
mod_finder
mod_footer
mod_languages
mod_tags_popular
mod_tags_similar
mod_users_latest
mod_weblinks
mod_whosonline
mod_wrapper
index.html
mod_menu
mod_random_image
mod_related_items
mod_search
mod_stats
mod_syndicate
twofactorauth
user
index.html
authentication
captcha
content
editors
editors-xtd
extension
finder
quickicon
search
system
